.Home-container{
    width: 100%;
    min-height: 50rem;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
}
.movie-container{
    width: 80%;
    min-height: 50rem;
    max-height: auto;
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(300px,1fr));
    animation-duration: 0.75s;
   transition: all 0.5s;

}
.card{
    background-color: rgba(255, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* border-style: none; */
    min-width: 300px; 
    margin: 10px;
    height: 38rem;
    text-transform: capitalize;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .movie-btn{
        background-color: #EC7710;
        color: white;
        border-style: none;
        font-weight: 600;
    }
}
.card-image{
    width: 100%;
    height: 28rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0);
}
.card-txt{
    width: 100%;
    height: 10rem;
    background-color: rgba(128, 128, 128, 0);
}
.cimage{
    width: 105%;
}

.cimage:hover{
    width: 108%;
    height: 108%;
}
.card-txt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.movie-btn{
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
    border-style: groove;
    border-width: 0.5px;
    border-radius: 6px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
}
.paginate-section{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(252, 146, 146); */
}